/*! Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 900;
  height: 85px;
}

/* Container com texto e ícones */
.container-footer {
  
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}


.footer-icons {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

@media (max-width: 1023px) {
    footer {
        position: relative;
        }

    aside.active #footer-hamburguer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

}

/*? Footer Hamburguer */
#footer-hamburguer {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    z-index: 1000;
}

.container-footer-hamburguer {
    width: 100%;
    height: 12.5rem;
}

.footer-icons-hamburguer {
    display: flex;
    flex-direction: column;
    gap: 8px;    
}

.footer-icons-hamburguer a  {
    height: 100%;
    padding: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-icons-hamburguer a i   {
    margin: 0 10px;
}


/*  Estilo */


/*! Footer */
footer {
  background-color: #333;
  color: #fff; 
  font-size: 18px;
  font-family: var(--fonte-principal);
}

.footer-icons {
  font-size: 35px;
}
/*? Estilo dos links dos ícones */
.social-icons a i {
  color: #928989; /* Cor padrão cinza */
  transition: color 0.3s, transform 0.3s;
}
/* Estilo dos links dos ícones ao passar o mouse */
.social-icons  a[aria-label="E-mail"]:hover i {
  color: #f4c542; 
  transform:translateY(-5px); 
}

.social-icons  a[aria-label="GitHub"]:hover i {
  color: #cfcfcf; 
  transform: translateY(-5px);
}

.social-icons a[aria-label="LinkedIn"]:hover i {
  color: #0a66c2; 
  transform: translateY(-5px);
}

.social-icons a[aria-label="Instagram"]:hover i {
  color: #e1306c; 
  transform: translateY(-5px);
}

.social-icons a[aria-label="Whatsapp"]:hover i {
  color: #25D366; 
  transform: translateY(-5px);
}

/*? Footer Mobile */
@media (max-width: 768px) {

footer {
  background-color: #333;
  color: var(--cor-texto); 
  font-size: 14px;
}

.footer-icons {
  font-size: 30px;
  gap: 30px;
}

}


/*? footer-Hamburguer */

#footer-hamburguer {
   font-family: var(--fonte-principal);
   font-size: 2px;
}

.aside-t {
  font-family: var(--fonte-principal);
  font-size: 18px;
  text-align: center;
  color: var(--cor-texto);
}

.footer-icons-hamburguer a  {
    background-color: var(--cor-primaria);
    text-decoration: none;
}

.footer-icons-hamburguer a i   {
    text-align: center;
    font-size: 25px;
}

.footer-icons-hamburguer a span {
    font-size: 16px;
    color:  var(--cor-texto);
    font-family: var(--fonte-principal);
}


.social-icons-hamburguer  a[aria-label="E-mail"] i {
  color: #f4c542; 

}

.social-icons-hamburguer  a[aria-label="GitHub"]  i {
  color: #cfcfcf; 

}

.social-icons-hamburguer a[aria-label="LinkedIn"] i {
  color: #0a66c2; 
  
}

.social-icons-hamburguer a[aria-label="Instagram"] i {
  color: #e1306c; 
    
}

.social-icons-hamburguer a[aria-label="Whatsapp"] i {
    color: #25D366; 
}



