:root {
    --cor-fundo: linear-gradient(
    45deg, 
    #131313 0%, 
    #323232 50%,
    #131313 100%
    );

    --cor-texto: #f3f3f3;
    --cor-primaria: #333;
    --cor-secundaria: #C0C0C0;
    --cor-terciaria : #323232;
    --cor-hover: #555;


    --fonte-projetos: 'Rajdhani', sans-serif;
    --fonte-principal:  sans-serif;
}

/* Layot */

html {
  background: var(--cor-fundo);
}

body {
  margin: 0;
  font-family: var(--fonte-principal);
  color: #fff;
  background: var(--cor-fundo);
  overflow-x: hidden;
  background-attachment: fixed;      
}


 


























